@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /*--font-sans: "Lexend Deca", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

@custom-media --sm (min-width: 641px);
@custom-media --md (min-width: 769px);
@custom-media --lg (min-width: 1025px);
@custom-media --xl (min-width: 1281px);
@custom-media --2xl (min-width: 1537px);


@theme {

    /* LIGHT THEME */
    --color-primary: var(--color-black);
    --color-secondary: #00a095;
    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-gray-100);
    --color-text-primary: var(--color-primary);
    --color-text-secondary: var(--color-gray-500);

    /*for border only*/
    --color-custom: var(--color-gray-300);

    /* HOVERS */
    --color-primary-hover: var(--color-gray-800);
    --color-secondary-hover: color-mix(in srgb, var(--color-secondary), #000 15%);
}

/* ================================
   DARK THEME OVERRIDES
================================= */
:root.dark {
    --color-primary: var(--color-black);
    --color-bg-primary: #1d2530;
    --color-bg-secondary: #181c22;
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-gray-500);

    /*for border only*/
    --color-custom: var(--color-gray-700);

    --color-primary-hover: var(--color-gray-800);
}

.btn {
    @apply flex justify-center gap-1 rounded-md px-3 py-2 text-sm font-semibold border cursor-pointer transition-colors outline-none
}

.btn-tertiary {
    @apply text-secondary bg-bg-primary hover:bg-secondary/10 border-secondary
}

.btn-primary {
    @apply rounded-md text-white bg-secondary hover:bg-secondary/80 border-secondary
}

a.custom {
    @apply text-secondary hover:underline
}


/*===========================================================================================
Dont touch these lines
===========================================================================================*/

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-custom);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text-secondary);
}

/* Number Input Styling */
input[type="number"] {
    /* Removed color-scheme to fix dark-on-light issue */
}

:root.dark input[type="number"] {
    color-scheme: dark;
}

/* Select Options Styling */
select option {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: 10px;
}
